{% extends 'base.html' %}

{% block content %}
<h2>TWEETS</h2>

{% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Tweet</button>
    </form>
{% endif %}

{% if tweets %}
    <ul class="tweet-list">
        {% for tweet in tweets %}
            <li>
                <strong>{{ tweet.user.username }}</strong>: {{ tweet.content }}
                <p>{{ tweet.created_at }}</p>
                {% if tweet.media %}
                    <img src="{{ tweet.media.url }}" alt="Tweet Media">
                    <style>
                        img {
                            max-width: 25%;
                            height: auto;
                            display: block;
                            margin: 10px auto;
                        }
                    </style>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tweets to display. Follow users to see their tweets!</p>
{% endif %}

{% endblock %}
