{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fierce-Tweets{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <!-- Левая панель -->
        <aside class="sidebar-container">
            <div class="sidebar">
                <a href="{% url 'tweets:tweet_list' %}">
                    <span class="icon">🏠</span> Main
                </a>
                <a href="#">
                    <span class="icon">🔍</span> See
                </a>
                <a href="#">
                    <span class="icon">🔔</span> Notifications
                </a>
                <a href="#">
                    <span class="icon">📨</span> Messages
                </a>
                <a href="#">
                    <span class="icon">⭐</span> Bookmarks
                </a>
                <a href="{% url 'users:profile' user.username %}">
                    <span class="icon">👤</span> Profile
                </a>
                <button class="btn tweet-btn">Publish Post</button>
            </div>
        </aside>


        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>


        <aside class="right-panel-container">
            <div class="right-panel">
                <div class="trends">
                    <h2></h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="who-to-follow">
                    <h2></h2>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</body>
</html>
