<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>
        <a href="/">Go Back To Tweets</a>
    </h1>
    <h1>Profile {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>About Me: {{ user.bio }}</p>

    {% if user.avatar  %}
        <img src="{{ user.avatar.url }}" alt="Avatar" style="max-width: 200px; height: auto;">
    {% endif %}

    <p><a href="{% url 'users:followers_list' user.username %}">Followers:</a> {{ user.followers.count }}</p>
    <p><a href="{% url 'users:following_list' user.username %}">Following:</a> {{ user.following.count }}</p>

    {% if user == request.user %}
    <a href="{% url 'users:edit_profile' %}">Edit Profile</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    {% endif %}


    {% if user != request.user %}
        <h3>General Subscribers</h3>
        {% if mutual_followers %}
            <ul>
                {% for mutual in mutual_followers %}
                    <li><a href="{% url 'users:profile' mutual.username %}">{{ mutual.username }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No shared subscribers.</p>
        {% endif %}
    {% endif %}

    {% if user != request.user %}
        <form method="post" action="{% url 'users:follow' user.username %}">
            {% csrf_token %}
            <button type="submit">
                {% if request.user in user.followers.all %}
                    Unsubscribe
                {% else %}
                    Subscribe
                {% endif %}
            </button>
        </form>
    {% endif %}

    <h3>Tweets by {{ user.username }}</h3>
    {% if tweets %}
        <ul>
            {% for tweet in tweets %}
                <li>
                    <strong>{{ tweet.content }}</strong>
                    <p>{{ tweet.created_at }}</p>
                    {% if tweet.media %}
                        <img src="{{ tweet.media.url }}" alt="Tweet Media" style="max-width: 300px;">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ user.username }} hasn't tweeted yet.</p>
    {% endif %}
</body>
</html>


